* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
}

#main {
    width: 100%;
    height: 100%;
    display: flex;
    background-image: url(https://images.unsplash.com/photo-1573855619003-97b4799dcd8b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80);
    background-size: cover;
    align-items: center;
    justify-content: center;
}

body:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #000;
    opacity: 0.7;
    z-index: 10;
}

.mainContainer {
    background-color: #ffff;
    height: 50%;
    border-radius: 10px;
    width: 25%;
    z-index: 999;
    position: relative;
}

#logo {
    padding: 5% 3%;
}

#logo {
    text-align: center;
}


#toogle {
    display: flex;
    align-items: center;
    padding: 2% 2%;
    justify-content: center;
    width: 100%;

}

#toggle-btns {
    width: 35%;
    height: 40%;
    border: 2px solid #ccc;
    position: relative;
    border-radius: 50px;
    padding: 1px 10px;

}

.toggle-btn {
    padding: 5% 9%;
    background: transparent;
    border: none;
    outline: none;
    position: relative;

}

tbtn-2 {
    margin-left: 10%;
}

#active-toggle {
    height: 100%;
    width: 50%;
    position: absolute;
    background-image: linear-gradient(to right, #ffffff, #f2f2f2, #e5e5e5, #d9d9d9, #cccccc);
    top: 0;
    left: 0;
    border-radius: 50px;
    transition: 0.3s;
}




.cridentials {
    height: 35%;
    display: flex;
    flex-direction: column;
    gap: 10%;
    align-items: center;
    justify-content: center;
}

.dtails {
    border-bottom: 2px solid #ccc;
    border-left: 0;
    border-top: 0;
    outline: none;
    border-right: 0;
    padding-left: 2px;
    width: 80%;
}

#login-btn {
    display: flex;
    align-items: center;
    justify-content: center;

}

#log-in {
    width: 50%;
    padding: 2%;
    border-radius: 20px;
    border: none;
    outline: none;
}

#more-options {
    height: 30%;
    display: flex;
    flex-direction: column;
    gap: 20%;
    align-items: center;
    padding: 2%;
}

#more-options>h3 {
    font-weight: 200;
}

.social {
    display: flex;
    gap: 10%;
    height: 30%;
    padding-left: 30%;
    align-items: center;
    width: 100%;
}

.social a {
    text-decoration: none;
    font-size: 20px;
    color: #000;


}



@media (max-width:700px) {
    .mainContainer {
        height: 50%;
        width: 85%;
    }

    #logo {
        text-align: center;
    }


    #toogle {
        display: flex;
        align-items: center;
        padding: 2% 2%;
        justify-content: center;
        width: 100%;

    }

    #toggle-btns {
        position: relative;
        border: 2px solid #ccc;
        width: 45%;
        padding: 2% 5%;
        border-radius: 30px;
    }

    #toggle-btns button {
        border: none;
        padding: 1% 5.6%;
        outline: none;
        background: transparent;
    }

    #togglediv {
        background-color: transparent;
        height: 101%;
        width: 30%;
        border-bottom: 2px solid #000;
        position: absolute;
        top: 0;
        padding-right: 20%;
        display: flex;
        gap: 30%;

    }

    .cridentials {
        height: 35%;
        display: flex;
        flex-direction: column;
        gap: 10%;
        align-items: center;
        justify-content: center;
    }

    .dtails {
        border-bottom: 2px solid #ccc;
        border-left: 0;
        border-top: 0;
        outline: none;
        border-right: 0;
        padding-left: 2px;
    }

    #login-btn {
        display: flex;
        align-items: center;
        justify-content: center;

    }

    #log-in {
        width: 40%;
        padding: 2%;
        border-radius: 20px;
        border: none;
        outline: none;
    }

    #more-options {
        height: 30%;
        display: flex;
        flex-direction: column;
        gap: 20%;
        align-items: center;
        padding: 2%;
    }

    #more-options>h3 {
        font-weight: 200;
    }

    .social {
        display: flex;
        gap: 10%;
        height: 30%;
        padding-left: 25%;
        align-items: center;

        width: 100%;
    }

    .social a {
        text-decoration: none;
        font-size: 20px;
        color: #000;


    }


}